.user {
  background-color: lightseagreen;
  font-size:large;
    text-align: center;
  
    font-size: calc(10px + 2vmin);
  color: rgb(255, 9, 9);
    display: flexbox
    
  }
  .image
{
  width: 100%;
  
  height:100%;
  alt:"background";
}
